body{
    background: pink;
    color: white;
    text-align: center;
    font-family: atial;
}
.titulo{
    font-size: 40px;
}
.imagem{
    /*border: 1px sollid black;*/
    transform: scale(0.5) rotate(30deg);
    animation: piscar 0.3s infinite;
    
}
@keyframes piscar{
    0%{
        opacity: 1;
        transform: scale(0.8);

    }
    100%{
        opacity: 0.2;
        transform: scale(1);
    }
}
.text{
    text-align: justify;
    column-count: 3;
    column-gap: 30px;
    line-height: 22px;
}
@media only screen and (max-width:499px) and (min-widyh:500px){}
    body{
        background-color: darkblue;
    }
    .texto{
        column-count: 2;
    }
    .imagem{
        transform: translateX(100px);
    }

@media only screen and (max-width:499px){
    body{
        background: darkgreen;
    }
    .imagem{
        display: none;
    }
    .text{
        column-count: 1;
    }
}